.Dashboard {
  max-width: 1220px;
  margin: auto;
}

.event-card {
  width: 90%;
  max-width: 340px;
  min-height: 420px;
  height: auto;
  margin: auto;
  margin-bottom: 10px;
}

.small-title {
  color: #131313da;
  font-weight: 600;
}

.Filters {
  top: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #f6f6f777;
}

@media screen and (min-width: 760px) {
  .event-cards-wrapp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .big-title {
    font-size: 20px !important;
  }
}

@media screen and (min-width: 1020px) {
  .event-cards-wrapp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .big-title {
    font-size: 22px !important;
  }
}
